html {
    box-sizing: border-box;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: Roboto, sans-serif;
}


/* for navbar */

nav {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav ul {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    gap: 20px;
}


/* for main content */

main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* footer */

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    margin: 0 auto;
    text-align: center;
}